<%- include('../includes/header.ejs') %>

   <div class="container-fuild">

      <div class="container col-9" style="margin-top: 70px;">
         <h1 class="fw-semibold">Users</h1>
      </div>
      <hr>

      <div class="container col-8">

         <div class="container d-flex align-items-center mb-2" style="justify-content: space-between;">
            <div>
               <a href="/users" class="btn text-white btn-primary" data-mdb-ripple-init>
                  <i class="fas fa-refresh"></i>
               </a>
            </div>
            <div class="d-flex">
               <div class="input-group">
                  <form class="d-flex" action="" method="get">
                     <div class="form-outline" data-mdb-input-init>
                        <input type="search" id="form1" class="form-control" name="searchUser" value="<%= search %>"
                           style="width: 200px;" />
                        <label class="form-label" for="form1">Search</label>
                     </div>
                     <button type="submit" class="btn btn-primary" style="z-index: 0;" data-mdb-ripple-init>
                        <i class="fas fa-search"></i>
                     </button>
                  </form>
               </div>
            </div>
         </div>

         <table class="table table-hover table-bordered table-sm align-middle mb-0 bg-white">
            <thead class="bg-light">
               <tr class="table-secondary">
                  <th scope="col" style="font-size: 15px;">Name</th>
                  <th scope="col" style="font-size: 15px;">Contact</th>
                  <th scope="col" style="font-size: 15px;">Date of Birth</th>
                  <th scope="col" style="font-size: 15px;">Status</th>
                  <th scope="col" style="font-size: 15px;">Actions</th>
               </tr>
            </thead>
            <tbody>
               <% listUser.forEach((item, index)=>{ %>
                  <tr>
                     <td>
                        <div class="d-flex align-items-center">
                           <img src="https://ik.imagekit.io/haijames32/logo.png?updatedAt=1720778898134" alt=""
                              style="width: 45px; height: 45px" class="rounded" />
                           <div class="ms-3">
                              <p class="fw-bold mb-1">
                                 <%= item.name %>
                              </p>
                              <p class="text-muted mb-0">
                                 <%= item.username %>
                              </p>
                           </div>
                        </div>
                     </td>
                     <td>
                        <p class="fw-normal mb-1">0<%= item.phone %>
                        </p>
                        <p class="text-muted mb-0">
                           <%= item.email %>
                        </p>
                     </td>
                     <td>
                        <%= item.dateOfBirth %>
                     </td>
                     <td>
                        <span class="badge badge-success rounded-pill d-inline">Active</span>
                     </td>
                     <td>
                        <a href="/users/<%= item._id %>" class="btn btn-link btn-rounded btn-sm fw-semibold"
                           data-mdb-ripple-color="dark">
                           Details
                        </a>
                     </td>
                  </tr>
                  <% }) %>
            </tbody>
         </table>
      </div>

   </div>



   <%- include('../includes/footer.ejs') %>