<%- include('../includes/header.ejs') %>


   <div class="container col-9" style="margin-top: 80px;">
      <h1 class="fw-semibold">Trash</h1>
   </div>
   <hr>

   <div class="container col-9">
      <table class="table table-hover align-middle mb-0 bg-white">
         <thead class="bg-light">
            <tr class="table-danger">
               <th></th>
               <th>Image</th>
               <th>Name</th>
               <th>Price</th>
               <th>Category</th>
               <th>Actions</th>
            </tr>
         </thead>
         <tbody>
            <% listProd.forEach(item=>{ %>
               <tr>
                  <td>
                  </td>
                  <td>
                     <div class="align-items-center">
                        <img src="<%= item.image %>" class="rounded" alt="" style="width: 45px; height: 45px" />
                     </div>
                  </td>
                  <td>
                     <p class="fw-normal">
                        <%= item.name %>
                     </p>
                  </td>
                  <td>
                     <p class="fw-normal">
                        <%= item.price.toLocaleString() %>₫
                     </p>
                  </td>
                  <td>
                     <p class="fw-normal">
                        <%= item.category.name %>
                     </p>
                  </td>
                  <td>
                     <a class="btn text-white btn-sm btn-floating bg-primary" id="btn-restore" data-mdb-ripple-init
                        data-mdb-id="<%= item._id %>">
                        <i class="fas fa-trash-arrow-up"></i>
                     </a>
                     <a class="btn text-white btn-sm btn-floating" data-mdb-ripple-init data-mdb-modal-init
                        data-mdb-id="<%= item._id %>" data-mdb-target="#modalForceDelete"
                        style="background-color: #c61118;">
                        <i class="fas fa-trash"></i>
                     </a>
                  </td>
               </tr>
               <%}) %>
         </tbody>
      </table>
      <% if(listProd.length==0){ %>
         <div class="text-center mt-3">
            <h5 class="fw-semibold">Thùng rác trống..</h5>
            <h6><a class="fw-semi" href="/products">Danh sách sản phẩm</a></h6>
         </div>
         <% } %>
   </div>

   <%- include('./includes/modalDelete.ejs') %>




      <form method="post" name="deleteForm"></form>
      <form method="post" name="restoreForm"></form>

      <script>
         document.addEventListener('DOMContentLoaded', () => {
            // Code ForceDelete Product
            const modalDelete = document.getElementById('modalForceDelete');
            let productId
            let deleteForm = document.forms['deleteForm']

            modalDelete.addEventListener('show.mdb.modal', (e) => {
               const button = e.relatedTarget;
               productId = button.getAttribute('data-mdb-id');
            })
            const btnDelete = document.getElementById('btnDeleteProductModal')
            btnDelete.onclick = function () {
               deleteForm.action = `/trash/${productId}/force?_method=DELETE`
               deleteForm.submit()
            }

            // Code Restore Product
            let btnRestore = $('#btn-restore')
            let restoreForm = document.forms['restoreForm']
            btnRestore.click(function (e) {
               e.preventDefault()
               let restoreId = $(this).data('mdb-id')
               restoreForm.action = `/trash/${restoreId}/restore?_method=PATCH`
               restoreForm.submit()
            })

         })
      </script>

      <%- include('../includes/footer.ejs') %>